@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body{
    font-family: 'Pacifico', cursive;
    --primary-color : #eac90a ;
}
.navigation{
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--primary-color);
    text-align: center;
    border-bottom-left-radius: 2rem;
}
.navigation img {
    position: absolute;
    max-width: 50px;
    padding: 1 0rem ;
}
#txt-input{
    width: 80%;
    border: 1px solid black;
    height:  10vh;
    display: block;
    margin: 1rem;
    padding: 1rem;
}

#btn-placeholder{
    text-align: center;
}
#btn-translate{
    color: hotpink;
}

#output {
    border: 1px solid black;
    width: 80%;
    margin: 1rem ;
    padding: 1rem;
    height: 10vh;
}